<!DOCTYPE html>
<html>

<head>
  <title>add trainer</title>
  <link rel="stylesheet" href="./css/index.css">
</head>

<body class="formulario">
  <h1>AÑADE UN ENTRENADOR A UN EQUIPO</h1>

<form class="form" action="/teams/add-trainer" method="POST">
    <label for="team">
      <p>Nombre del equipo</p>
      <input type="text" name="team">
    </label>

    <label for="trainer">
      <p>Nombre del entrenador</p>
      <input type="text" name="trainer">
    </label>
    <br>
    <br>
    <input type="submit" value="Añadir entrenador">
  </form>
</body>

</html>