<!DOCTYPE html>
<html>

<head>
  <title>Add player</title>
  <link rel="stylesheet" href="./css/index.css">
</head>

<body class="formulario">
  <h1>AÑADE UN JUGADOR A UN EQUIPO</h1>

<form class="form" action="/teams/add-player" method="POST">
    <label for="team">
      <p>Nombre del equipo</p>
      <input type="text" name="team">
    </label>

    <label for="player">
      <p>Nombre del jugador</p>
      <input type="text" name="player">
    </label>
    <br>
    <br>
    <input type="submit" value="Añadir jugador">
  </form>
</body>

</html>