<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <title>{{title}}</title>
</head>

<body class="index">
  <header class="header">
    <img class="header__logo" src="https://i.pinimg.com/originals/6b/a3/18/6ba318474e4cab7cef32a965fd6b982c.png" alt="">
    <h1 class="header__h1">MyFootball_Api</h1>
  </header>
  <h3 class="h3">RUTAS DE LA API</h3>
  <br>
  <table class="table">
    <tr>
      <td>ENDPOINT</td>
      <td>DESCRIPTION</td>
    </tr>
    <tr>
      <td>register</td>
      <td>Aqui puedes registrar un nuevo usuario.</td>
    </tr>
    <tr>
      <td>login</td>
      <td>Entrar a la aplicación si ya te has registrado</td>
    </tr>
    <tr>
      <td>new-player</td>
      <td>Endpoint para crear un nuevo jugador</td>
    </tr>
    <tr>
      <td>new-trainer</td>
      <td>Endpoint para crear un nuevo entrenador</td>
    </tr>
    <tr>
      <td>new-team</td>
      <td>Endpoint para crear un nuevo equipo</td>
    </tr>
    <tr>
      <td>add-player</td>
      <td>Añadir un jugador a un equipo</td>
    </tr>
    <tr>
      <td>add-trainer</td>
      <td>Añadir un entrenador a un equipo</td>
    </tr>
    <tr>
      <td>players</td>
      <td>Muestra a todos los jugadores</td>
    </tr>
    <tr>
      <td>trainers</td>
      <td>Muestra a todos los entrenadores</td>
    </tr>
    <tr>
      <td>teams</td>
      <td>Muestra todos los equipos</td>
    </tr>
  </table>
</body>

</html>