<!DOCTYPE html>
<html>

<head>
  <title>New Player</title>
  <link rel="stylesheet" href="./css/index.css">
</head>

<body class="formulario">
  <h1>CREA UN NUEVO JUGADOR</h1>

  <form class="form" action="/players/create" method="POST" enctype="multipart/form-data">
    <label for="name">
      <p>Name</p>
      <input type="text" name="name">
    </label>
    <label for="position">
      <p>Position</p>
      <input type="text" name="position">
    </label>
    <label for="age">
      <p>Age</p>
      <input type="age" name="age">
    </label>
    <label for="number">
      <p>Number</p>
      <input type="number" name="number">
    </label>

    <label for="picture">
      <p>Picture</p>
      <input type="file" name="picture" accept="image/png, image/jpeg">
    </label>
    <br>
    <br>
    <input type="submit" value="Crear jugador">
  </form>
</body>

</html>