<!DOCTYPE html>
<html>

<head>
  <title>New Trainer</title>
  <link rel="stylesheet" href="./css/index.css">
</head>

<body class="formulario">
  <h1>CREA UN NUEVO ENTRENADOR</h1>

<form class="form" action="/trainers/create" method="POST" enctype="multipart/form-data">
    <label for="name">
      <p>Name</p>
      <input type="text" name="name">
    </label>

    <label for="age">
      <p>Age</p>
      <input type="age" name="age">
    </label>

    <label for="picture">
      <p>Picture</p>
      <input type="file" name="picture" accept="image/png, image/jpeg">
    </label>
    <br>
    <br>
    <input type="submit" value="Crear entrenador">
  </form>
</body>

</html>