<!DOCTYPE html>
<html>

<head>
  <title>New Team</title>
  <link rel="stylesheet" href="./css/index.css">
</head>

<body class="formulario">
  <h1>CREA UN NUEVO EQUIPO</h1>

<form class="form" action="/teams/create" method="POST" enctype="multipart/form-data">
    <label for="name">
      <p>Name</p>
      <input type="text" name="name">
    </label>

    <label for="location">
      <p>Ciudad</p>
      <input type="location" name="location">
    </label>

    <label for="picture">
      <p>Picture</p>
      <input type="file" name="picture" accept="image/png, image/jpeg">
    </label>
    <br>
    <br>
    <input type="submit" value="Crear equipo">
  </form>
</body>

</html>