<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="./css/index.css">
</head>

<body class="index">
<nav class="header">
  <img class="header__logo" src="https://i.pinimg.com/originals/6b/a3/18/6ba318474e4cab7cef32a965fd6b982c.png" alt="">
  <h1 class="header__h1">MyFootball_Api</h1>
  <form class="logout" action="/users/logout" method="POST">
		<input class="logout__boton" type="submit" value="Logout"></input>
	</form>
</nav>

  <div class="box">
    {{#each trainers}}
      <div class="card">
        <h3 class="card__h3">Name: {{ this.name }}</h4>
        <h5 class="card__h5">Age: {{ this.age }}</h5>

        {{#if this.picture}}
        <img src="{{this.picture}}" alt="{{this.name}}" width="200px"/>
        {{/if}}
      </div>
    {{/each}}
  </div>

</body>

</html>