* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.index {
  text-align: center;
  background-color: silver;
}

.index .h3 {
  margin: 0px auto;
  width: 20%;
  margin-top: 40px;
  background-color: #d33a1d;
  padding: 10px;
  border: 2px solid black;
}

.index .header {
  background-color: black;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .header .header__logo {
  width: 6%;
  margin: 8px;
  margin-left: 50px;
}

.index .header .header__h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  margin: 20px 0px;
  margin-left: 374px;
}

.index .header .logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 400px;
}

.index .header .logout .logout__boton {
  background-color: black;
  cursor: pointer;
  font-weight: 700;
  color: white;
  border: 2px solid black;
  font-size: 16;
}

.index .header .logout .logout__boton:hover {
  font-size: 18px;
}

.index .table, .index tr, .index td {
  border: 2px solid black;
  margin: 10px auto;
  border-collapse: collapse;
  padding: 6px;
}

.formulario {
  background-color: white;
  text-align: center;
  margin: 40px 0px;
}

.formulario .form {
  padding: 20px 20px;
  margin: 20px auto;
  width: 50%;
  background-color: white;
  font-size: 20px;
}

.formulario .form input {
  width: 40%;
  height: 20px;
  margin-bottom: 10px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box .card {
  width: 20%;
  color: white;
  background-color: black;
  margin: 20px auto;
  padding: 16px;
  list-style: none;
}

.box .card .card__h3 {
  margin: 10px;
}

.box .card .card__h5 {
  margin: 10px;
}
/*# sourceMappingURL=index.css.map */