* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.index {
    text-align: center;
    background-color: silver;
    .h3 {
        margin: 0px auto;
        width: 20%;
        margin-top: 40px;
        background-color: rgb(211, 58, 29);
        padding: 10px;
        border: 2px solid black;
        
    }
    .header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        color: white;
        display: flex;
        .header__logo {
            width: 6%;
            margin: 8px;
            margin-left: 50px;
        }
        .header__h1 {
            display: flex;
            align-items: center;
            font-size: 36px;
            margin: 20px 0px;
            margin-left: 374px;
        }
        .logout {
            display: flex;
            align-items: center;
            margin-left: 400px;
            .logout__boton {
                background-color: black;
                cursor: pointer;
                font-weight: 700;
                color: white;
                border: 2px solid black;
                font-size: 16;
            }
            .logout__boton:hover {
                font-size: 18px;
            }
        }
    }
    .table, tr, td {
        border: 2px solid black;
        margin: 10px auto;
        border-collapse: collapse;
        padding: 6px;
    }
}

//FORMULARIOS

.formulario {
    background-color: white;
    text-align: center;
    margin: 40px 0px;

    .form {
        padding: 20px 20px;
        margin: 20px auto;
        width: 50%;
        background-color: white;
        font-size: 20px;

        input {
            width: 40%;
            height: 20px;
            margin-bottom: 10px;
        }
    }
}

//PLAYERS
.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
.card {
    width: 20%;
    color: white;
    background-color: black;
    margin: 20px auto;
    padding: 16px;
    list-style: none;

    .card__h3 {
        margin: 10px;
    }
    .card__h5 {
        margin: 10px;
    }
}
}
